h2{
    font-family: 'Yellowtail', cursive;
    font-size: 2em;
    color: rgb(3, 97, 104);
    padding: 10px auto;
    margin: 10px auto;
    margin-top: 5px;

}

label{
    font-family: 'Yellowtail', cursive;
    font-size: 1.2em;
    color: rgb(3, 97, 104);
}

body{
    background-image: url('Image.png');
    background-size: cover; 
    height: 100vh;
    color: rgb(6, 107, 105);
    margin: 0%;
    padding: 0%;
    
    
    
}

.form-container {
    width: 50%;
    height: 90%;
    display: flex;
    justify-content:center; ;
   
    background: rgba(219, 190, 139, 0.3);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(235, 92, 4, 0.9);
    margin: 10px auto;
    text-align: center;
    position: relative;
    bottom: 300px;
     
}

.logo{
    display: flex;
    margin: 0px auto;  
    height: 350px; 
    width: 350px; 
    position: relative;
    justify-content: center;
    margin-bottom: 250px;
    margin-top: 20px;
    

}

input[type="mail"], input[type="password"], input[type="text"], input[type="date"]{
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ed5904;
    border-radius: 6px;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-direction: column; 
    margin-left: 30px;
    
}

button{
    width: 80%;
    padding: 10px;
    background-color: #054b48;
    color: white;
    border: none;
    border-radius: 6px;
    cursor:crosshair;
    font-size: 16px;
    font-family: 'Yellowtail', cursive;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
    align-items: center;
    margin-top: 20px;
    
    
    
 }
button:hover{
    background-color: #ed5904;
 }
@font-face {
    font-family: 'Yellowtail';
    src: url('fonts/Yellowtail-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }
      
label{
    font-family: 'Yellowtail', cursive;
    font-size: 1.2em;
    color: rgb(3, 97, 104);
    
}