
h2{
    font-family: 'Yellowtail', cursive;
    font-size: 2em;
    color: rgb(3, 97, 104);
    padding: 10px auto;
    margin: 10px auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    


}

label{
    font-family: 'Yellowtail', cursive;
    font-size: 1.2em;
    color: rgb(3, 97, 104);
}

body{
    background-image: url('Image.png');
    background-size: cover; 
    height: 100vh;
    color: rgb(6, 107, 105);
    
    
}

.login-container{
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items:center;
    background: rgba(219, 190, 139, 0.3);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(235, 92, 4, 0.9);
    margin: 10px auto;
    text-align: center;
    position: relative;
    bottom: 250px;
    
    
    
    
}

input[type="email"], input[type="password"]{
    width: 80%;
    padding: 10px;px;
    margin: 10px 0;
    border: 1px solid #ed5904;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.logo{
    display: flex;
    margin: 0px auto;  
    height: auto; 
    width: 270px; 
    position: relative;
    justify-content: center;
    bottom: 150px;

}
 button{
    width: 80%;
    padding: 10px;
    background-color: #054b48;
    color: white;
    border: none;
    border-radius: 6px;
    cursor:crosshair;
    font-size: 16px;
    font-family: 'Yellowtail', cursive;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    bottom: 20px;
    
  
   
    
 }
button:hover{
    background-color: #ed5904;
 }
@font-face {
    font-family: 'Yellowtail';
    src: url('fonts/Yellowtail-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }
      
